* {
    font-family: 'Roboto';
    color: #e7e5eb;
}
.hero {
    background-color: #1f2937;
    color: #e5e7eb;
}
.heromain {
    font-size: 48px;
    font-weight:bolder;
    color:#f9faf8;
}
.herosecond {
    font-size: 18px;
    color: #e7e5eb
}
.heroheader {
    font-size: 24px;
    color: #f9faf8;
}
.bodyheader {
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}
.quote {
    background-color: #e5e7eb;
}
.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
.calltoaction {
    background-color: #3882f6;
}
.headbox {
    display:flex;
    flex:auto;
    flex-direction: row;
    justify-content: space-between;
}

.herobox {
    display:flex;
    flex-direction: row;
    flex:auto
}
.bodybox{
    display:flex;
    flex-direction: row;
    flex:auto
}
.callbox {
    display:flex;
    flex-direction: row;
    flex:auto
}
